<nav class="nav">
    <div class="nav__list">

        <img src="" height="44" alt="octange logo" class="nav__logo">

        <app-nav-button icon="chart" [url]="'analytics'"></app-nav-button>
        <app-nav-button [url]="'task-groups'" icon="tasks"></app-nav-button>
        <app-nav-button [url]="'profile'" icon="user"></app-nav-button>
        <app-nav-button [url]="'proxies'" icon="globe"></app-nav-button>
        <app-nav-button [url]="'settings'" icon="settings"></app-nav-button>
    </div>
    <app-status></app-status>
</nav>