.pane {
    width: 50%;
}

.test-all-button {
    grid-area: b3;
}

.delete-all-button {
    grid-area: b4;
}

.proxy-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.proxy-form__textarea {
    flex-grow: 2;
}

.proxy-form__save-button {
    margin: var(--margin-thick) 0 0 0;
    align-self: flex-end;
}

.proxy-table {
    grid-template-columns: 4fr minmax(3em, 1fr) minmax(3em, 1fr);
}